  <md-card class="section-header">{{viewController.getHeaderText(sharableThings)}}</md-card>

  <md-grid-list [cols]="session.getDefaultNumberOfColumns()" class="space-from-top">

    <md-grid-tile colspan="1" rowspan="1" *ngIf="!sharableThings">
      <md-progress-spinner mode="indeterminate"></md-progress-spinner>
    </md-grid-tile>

    <md-grid-tile *ngFor="let sharableThing of sharableThings" colspan="1" rowspan="1">
        <md-card class="sharable-thing-card">
            <md-card-header>
              <md-card-title>{{sharableThing.name}}</md-card-title>
            </md-card-header>
            <img md-card-image *ngIf="sharableThing.getCoverImageUrl()" [src]="sharableThing.getCoverImageUrl()" height="180px">
            <md-card-content>
              <p>{{sharableThing.description}}</p>
            </md-card-content>
            <md-card-actions>
              <button md-button (click)="goToSharableThing(sharableThing)">VIEW</button>
              <button md-button (click)="bookSharableThing(sharableThing)">BOOK</button>
            </md-card-actions>
          </md-card>
    </md-grid-tile>
  </md-grid-list>

