  
 <!--form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="space-from-top margin-left-right" novalidate-->
  <form [formGroup]="form" class="space-from-top margin-left-right" novalidate>
      <md-grid-list cols="4" rowHeight="80px" class="full-width">

        <md-grid-tile colspan="2" rowspan="1">
          <md-input-container class="full-width margin-left-right" required>
            <input mdInput placeholder="Name" formControlName="name" required>
            <md-hint *ngIf="formErrors.name" [ngStyle]="{'color': 'red'}" align="start">{{formErrors.name}}</md-hint> 
          </md-input-container>
        </md-grid-tile>
        <md-grid-tile colspan="2" rowspan="1">
          <input placeholder="Image file" multiple="multiple"
              type="file" required class="full-width margin-left-right"
              (change)="fileChangeEvent($event)">
        </md-grid-tile>
        <md-grid-tile colspan="3" rowspan="1">
          <md-input-container class="full-width margin-left-right">
            <input mdInput placeholder="Short description" formControlName="description" required>
            <md-hint *ngIf="formErrors.description" [ngStyle]="{'color': 'red'}" align="start">{{formErrors.description}}</md-hint>  
          </md-input-container>
        </md-grid-tile>

        <md-grid-tile colspan="4" rowspan="1">
          Images
        </md-grid-tile>
        <md-grid-tile colspan="1" rowspan="1" *ngIf="!sharableThing">
          <md-progress-spinner mode="indeterminate"></md-progress-spinner>
        </md-grid-tile>
        <md-grid-tile [colspan]="getColSpanForImages()" rowspan="5" *ngFor="let imageUrl of sharableThing?.getImageUrls()">
          <md-card>
            <img [src]="imageUrl" height="230px" width="230px">
            <md-card-actions>
              <button md-button (click)="removeImage(imageUrl)">DELETE</button>
            </md-card-actions>
          </md-card>
        </md-grid-tile>

        <md-grid-tile colspan="4" rowspan="1">
          <md-card class="section-header" (click)="addFriend()">The friends</md-card>
        </md-grid-tile>
        <md-grid-tile [colspan]="getColSpanForFriends()" rowspan="2" *ngFor="let friendMail of sharableThing?.friendEmails">
          <md-card class="friend-card">
            <md-card-title>{{getFriendNickname(friendMail.email)}}</md-card-title>
            <md-card-subtitle>{{friendMail.email}}</md-card-subtitle>
            <md-card-actions>
              <button md-button (click)="removeFriendEmail(friendMail)">DELETE</button>
            </md-card-actions>
          </md-card>
        </md-grid-tile>
        
        <md-grid-tile colspan="4" rowspan="1">
          <button md-raised-button class="full-width space-from-bottom" [disabled]="!form.valid" (click)="onSubmit(form.value)">Save</button>
          <!--button md-raised-button class="full-width space-from-bottom" [disabled]="!form.valid">Save</button-->
        </md-grid-tile>
        <md-grid-tile colspan="4" rowspan="1" *ngIf="errorMessage">
          <md-card [ngStyle]="{'color': 'red'}">{{errorMessage}}</md-card>
        </md-grid-tile>

      </md-grid-list>
  </form>


