/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

.full-width {
  width: 100%;
}
.margin-left-right {
  margin-left: 2%;
  margin-right: 2%;
}

.space-from-top {
    margin-top: 10px;
}

.space-from-bottom {
    margin-bottom: 10px;
}

.section-header {
  background-color: lightgoldenrodyellow;
  text-align: center;
  width: 100%;
}

.sharable-thing-card {
  width: 200px;
}

swiper .swiper-container {
    /*padding: 30px;*/
    position: inherit;
}

sharable-thing-showcase-calendar .cal-month-view .cal-day-cell {
    min-height: 60px;
}
sharable-thing-showcase-calendar .cal-month-view .cal-cell-top {
    min-height: 40px;
}
sharable-thing-showcase-calendar .cal-month-view .cal-day-number {
    margin-top: 10px;
    margin-bottom: 8px;
}

.cal-month-view .cal-cell.cal-has-events {
  background-color: lightblue; 
}
/* to manage background color in case of days of an event to be booked */
.cal-day-to-be-booked-cell {
  background-color: pink;
}
.cal-day-to-be-modified-cell {
  background-color: green;
}
.cal-past {
  background-color: grey;
}
.cal-day-blocked {
  background-color: lightgrey;
}

.calendar {
    width: 95%;
}
