/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

.full-width {
  width: 100%;
}
.margin-left-right {
  margin-left: 2%;
  margin-right: 2%;
}

.space-from-top {
    margin-top: 10px;
}

.space-from-bottom {
    margin-bottom: 10px;
}

.section-header {
  background-color: lightgoldenrodyellow;
  text-align: center;
  width: 100%;
}

.sharable-thing-card {
  width: 200px;
}

/*.swiper-container {
    padding: 30px;
}*/
